.container{
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;  
    flex: auto;
   
}


.itens>img{
      /* background-repeat: no-repeat; /* Imagens não se repete na tela*/
   /* background-attachment: fixed; /*Para deixar a imagem fixa por inteira*/
   /* background-size: cover; /*Quando rolar a tela, a imagem acompanha */  
    padding: 10px;
    margin: 10px;
    width: 115px;
    height: 60px;
    border-radius: 150px;  
}
.imglink{
    padding: 10px;
    margin: 10px;
    width: 115px;
    height: 60px;
    border-radius: 150px;
}



.itens:hover{
    opacity: 80%;
}
body{
    background-color: rgb(115, 129, 129);
   /* background-repeat: no-repeat;  /*Imagens não se repete na tela*/
    /*background-attachment: fixed; /*Para deixar a imagem fixa por inteira*/
    /*background-size: cover; /*Quando rolar a tela, a imagem acompanha*/
}


.titulo{
    padding: 1px;
    background-color: rgb(233, 109, 64);
    text-align: center;
    font-size: 20px;
    display: block;
    height: 60px;
            
}
img{
    height: 300px;
    width: 255px;
    margin: 2px;
    border-radius: 10px;
 }


.card{
margin-left: 9%;
text-align: center;
display: flex;
flex: auto;
flex-flow:  wrap;
align-items: center;
justify-content:center;
max-width: 75vw;
   
}

















    
    
    
    
    
    
    
    
    
    
    
    

