*{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 75vw;
    display:flex;
    flex-flow:nowrap;
    align-items:center;
    justify-content: center;
    height: 80px;
     
    }
header{
    display: flex;
    flex-flow: nowrap;
    
    
    width: 98%; 
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
  
}

.logo img{
    width: 200px;
    height: 200px;
}
.menu{
    width: 70%;
}
.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 70px;
    
    
}
nav{
    background-color: rgb(233,77,77);   
    text-align:center;
    width: 120%;
    padding: 15px;

}
.seçaoEntrada{
    background-image:url("./imagens/salao\ restaurante.png");
    background-size: cover;
    background-attachment:scroll;
    height: 450px;
    color: white;
    text-align: center;
   
   
}
.seçaoEntrada p{
    padding: 80px;
    
}
button{
    border-radius: 6px;
    width: 85px;
    height: 35px;
    transition: 0.3s ease;    
    background-color: rgb(247, 244, 244);
}
button:hover{
    background-color:rgb(233,77,77);
    color: white;
}
.frase{
    align-items: baseline;
   height: 100px;
    text-align: center;
}
.frase h2{
    color: rgb(148, 99, 7);
    font-size: 20px;
}
.frase h3{
    font-size: 25px;
}
.galeriacardapio1{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    
}
.cards1{
    margin: 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 250px;
}
.cards1 img{
    width: 100%;
}
.galeriacardapio2{
   
  padding-top: 5px;
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   justify-content: center;
    
}
.cards2{
    
   
    margin: 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 333.333px;
}
.cards2 img{
    width: 100%;
}

.cards1:hover{
    
}

.secaofinal{
   
    margin-top: 30px;  
    
    display: flex;
    flex-flow: row wrap;  
    color: #ffffff;
    background-color:rgb(233,77,77);
    
    text-align:right;
    
    
}
.secaofinal img{
    width: 100%;
    
}
.chefs{
    margin: 10px;
    max-width: 300px;
    

}




    
 


