* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('img/capa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
}


.cabecalho {
  background-color: orange;
  padding: 25px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
}

.conteudo-cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
}

.titulo-site {
  color: white;
  font-size: 26px;
  margin: 0;
}

/* Fundo + centralização no main */
.fundo-dragonball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100%;
  box-sizing: border-box;
}

/* Container do formulário */
.container-formulario {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px #ff9900;
  text-align: center;
}

.titulo-formulario {
  color: #ffcc00;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.rotulo {
  color: white;
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

.campo-texto,
.campo-select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.botao-enviar {
  background-color: #ff9900;
  color: black;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.botao-enviar:hover {
  background-color: #ffcc00;
}
/* Área de descrição acima do formulário */
.descricao {
  max-width: 700px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff9900;
}




